<%- unless @tooltips; then
      @tooltips = []; ttflag = true;
    else
      ; ttflag = false;
    end %>
<%- node.hardware_profile.outlet_count == 0 ? maxoutlet = 'unlimited' : maxoutlet = node.hardware_profile.outlet_count %>
<%- if node.hardware_profile.outlet_count.nil? %>
    <p><h2><%= tooltip(node.class, node.hardware_profile.outlet_type.to_sym) %>:</h2></p>
    <p>
      <%= "Although this node is a <strong>#{node.hardware_profile.outlet_type.downcase}</strong> outlet type," %>
      <%= "its <strong>HardwareProfile</strong> (#{link_to node.hardware_profile.name, node.hardware_profile})" %>
      <%= " 'outlet count' " + "is not configured for any ports" if node.hardware_profile.outlet_count.nil? %>
    </p>
<%- elsif node.produced_outlets.empty? -%>
    <p><h2><%= tooltip(node.class, node.hardware_profile.outlet_type.pluralize.to_sym) %>:</h2></p>
    <p>
      <%= "Although this node supports <strong>#{maxoutlet} #{node.hardware_profile.outlet_type.downcase}" %>
      <%= "</strong> outlets, there aren't any outlets assigned to it.  Outlet need to be created before they can be assigned to a consumer" %>
    </p>
<%- elsif node.hardware_profile.outlet_count && node.produced_outlets.count > 0 -%>
    <table cellspacing="0" class="styled" summary="A list of the outlets supplied by this node.">
      <caption><%= Outlet.outlet_types[node.hardware_profile.outlet_type].pluralize + "<font size=2>  (max capacity: #{maxoutlet}) </font>" %></caption>
      <thead>
      <tr>
        <th><%= tooltip(Outlet, :name) %></th>
        <th><%= tooltip(Outlet, :consumer) %></th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <%- sort_by_name(node.produced_outlets, node.hardware_profile.outlet_type) do |outlet| %>
          <tr class="<%= cycle('odd', 'even') -%>">
            <td><%= link_to outlet.name, outlet %></td>
            <td id="<%= dom_id(outlet) %>">
              <%=  render :partial => 'outlets/consumer', :locals => { :consumer => outlet.consumer } %>
            </td>
            <td><%= link_to_remote "Assign",
                                   :url => edit_outlet_path(outlet),
                                   :update => dom_id(outlet), :method => :get %>
            </td>
            <td><%= link_to_remote 'Delete',
                                   :url     => "/outlets/#{outlet.id}",
                                   :confirm => 'Are you sure?',
                                   :method  => :delete if allow_perm(node, 'updater') && allow_perm(outlet, 'updater') %></td>
          </tr>
      <%- end %>
      </tbody>
    </table>
<%- end -%>

<%= render_tooltips(@tooltips) if ttflag %>
