<h1>Editing network_interface_type</h1>

<% form_for(@network_interface_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :l2_id %><br />
    <%= f.text_field :l2_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @network_interface_type %> |
<%= link_to 'Back', network_interface_types_path %>