<%- unless @tooltips; then
      @tooltips = []; ttflag = true;
    else
      ; ttflag = false;
    end %>
<h3><%= tooltip(NodeRack, :nodes) %></h3>

<%- unless node_rack.node_rack_node_assignments.empty? -%>

    <ul id="node-list">
      <%- node_rack.node_rack_node_assignments.each do |assignment|
          ass_id = assignment.id
      -%>
          <li id="<%= ass_id %>">
            <span class="handle"><img src="/images/drag.gif" width="25" height="11" alt="Drag"/></span>
            [<span class="Upos" id="nrna_upos_<%= ass_id %>"><%= assignment.upos %></span>]
            <%= in_place_editor 'nrna_upos_' + ass_id.to_s, :size => 2, :url => {:controller => 'node_rack_node_assignments', :action => 'update', :id => ass_id}, :param_name => 'node_rack_node_assignment[upos]', :script => true, :options => "{method: 'post'}", :on_failure => '' %>
            <%= link_to h(assignment.node.name), node_path(assignment.node) %> /
            <%= link_to h(assignment.assigned_at.to_formatted_s(:long)), node_rack_node_assignment_path(assignment) %> /
            <%= link_to_remote 'Remove from server rack',
                               :url     => node_rack_node_assignment_path(assignment),
                               :confirm => 'Are you sure?',
                               :method  => :delete %>
          </li>
      <%- end -%>
    </ul>

    <%= sortable_element 'node-list',
                         :url    => { :controller => 'ajax', :action => 'sort_nodes_in_rack', :id => node_rack.id },
                         :handle => 'handle' %>


<%- else -%>
    <p>No nodes are assigned to this server rack.</p>
<%- end -%>

<%= render_tooltips(@tooltips) if ttflag %>
